<div class="row">
  <div class="user-form small-12 medium-8 large-6 small-centered columns">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :riot_username %>
        <%= f.text_field :riot_username %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.label "New Password" %> <small>(leave blank if you don't want to change it)</small><br>
        <% if @minimum_password_length %>
        <small><%= @minimum_password_length %> characters minimum</small>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>

        <%= f.label "Confirm New Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.label :current_password %> <small>(we need your current password to confirm your changes)</small>
        <%= f.password_field :current_password, autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
    <br>
    <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    <br>
    <%= button_to "Back", :back, method: :get %>
  </div>
</div>
