<div class="show-page">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>
        <span class="show-for-sr">Current: </span> <%= @champion.name %>
      </li>
    </ul>
  </nav>

  <h1><img class="champ-thumb" height="50" width="50" src="http://ddragon.leagueoflegends.com/cdn/7.1.1/img/champion/<%= @champion.img %>"><strong>Topics for <%= @champion.name %></strong></h1>
  <ul class="accordion small-12 medium-8 large-6" id="new-topic" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">New Topic</a>
      <div class="accordion-content" data-tab-content>
        <%= render :partial => 'topics/form' %>
      </div>
    </li>
  </ul>

  <ul class="topics small-12 medium-8 large-6">
    <% if @champion.topics.length > 0 %>
      <% @champion.topics.each do |topic| %>
      <a href="/champions/<%=@champion.id%>/topics/<%=topic.id%>">
      <div class="topic">
        <li><%= topic.title %></li>
          <small>Submitted by <%= topic.user.email %></small>
          <% if user_signed_in? %>
            <% if current_user.id == topic.user.id %>
              <%= link_to "Delete Topic", champion_topic_path(@champion, topic), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
      </div>
      </a>
      <% end %>
    <% end %>
  </ul>
</div>
