<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LeagueHQ" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "background" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href='//fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

      <div class="top-bar stacked-for-small" id="topbar-menu">

        <div class="top-bar-left">
          <ul class="menu">
            <li><a href="/" class="site-title">LeagueHQ</a></li>

            <li class="top-bar-switch" title="Turn off live themes (For slow connections)">
              <input class="switch-input" id="bgcSwitch" type="checkbox" name="exampleSwitch" checked>
              <label class="switch-paddle" for="bgcSwitch">
                <span class="switch-active" aria-hidden="true">On</span>
                <span class="switch-inactive" aria-hidden="true">Off</span>
              </label>
            </li>

          </ul>
        </div>

        <div class="top-bar-right">
          <% if user_signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <%= link_to current_user.email, user_path(current_user.id), class: "top-bar-button" %>
              <ul class="menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "top-bar-dropdown-item" %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "top-bar-dropdown-item" %>
              </ul>
            </li>
          </ul>

            <% else %>
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">
                <a class="top-bar-button" data-open="loginModal">Login</a>
              </li>
              <li class="menu-text">
                <%= link_to "Sign up", new_user_registration_path, class: "top-bar-button" %>
              </li>
            </ul>
            <% end %>
          </div>
      </div>

      <div class="reveal" id="loginModal" data-reveal>
        <%= render :partial => "devise/sessions/form" %>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <%= yield %>

    <footer class="footer">
      <div class="row small-0 medium-8 large-6">
        <p>LeagueHQ isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
      </div>
    </footer>

  </body>
</html>
