<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  </head>

  <body>

      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title"><a href="/">LeagueHQ</a></div>
      </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-title">
          <a class="hide-for-small-only" href="/">LeagueHQ</a>
        </div>


        <div class="top-bar-left">
          <form id="live-search" action="" class="small-4 medium-8 large-12">
              <fieldset>
                  <input type="text" class="text-input" id="filter" value="" placeholder="Search Champions"/>
              </fieldset>
          </form>
        </div>

        <div class="top-bar-switch" title="Turn off live themes(For slow connections)">
          <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch" checked>
          <label class="switch-paddle" for="exampleSwitch">
            <span class="switch-active" aria-hidden="true">On</span>
            <span class="switch-inactive" aria-hidden="true">Off</span>
          </label>
        </div>

        <div class="top-bar-right">
          <% if user_signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <%= link_to current_user.email, user_path(current_user.id) %>
              <ul class="menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </ul>
              </li>
            </ul>

            <% else %>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#">Login</a>
                <ul class="menu">
                  <li><%= render :partial => "devise/sessions/form" %></li>
                </ul>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
            </ul>
            <% end %>
          </div>

      </div>

    <%= yield %>

    <footer class="footer">
      <div class="row small-0 medium-8 large-6">
        <p>LegendsHQ isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
      </div>
    </footer>

  </body>
</html>
